*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    min-height:100vh;
    background:linear-gradient(135deg,#4f5a8e,#764ba2);
    
   
} 

form{
    background:#fff;
    padding:30px 35px;
    border-radius:12px;
    width:100%;
    max-width:auto;
    box-shadow:0 20px 40px rgba(0,0,0,0.2);
    align-items: center;
    justify-content: center;
    display: inline-block;
}

h1{
    text-align:center;
    margin-bottom:10px;
    color:#000000;
}

h2{
    text-align:center;
    margin-bottom:20px;
}

p{
    text-align:center;
    margin-bottom:20px;
    color:#000000;
}

span{
    color:#d42a90;
    font-weight:600;
}

label{
    display:block;
    margin:10px 0 5px;
    font-size:14px;
    color:#333;
}

input,
select,
textarea{
    width:100%;
    padding:10px 12px;
    border-radius:8px;
    border:1px solid #ccc;
    outline:none;
    font-size:14px;
}

input:focus,
select:focus,
textarea:focus{
    border-color:#667eea;
}

input[type="radio"],
input[type="checkbox"]{
    width:auto;
    margin-right:5px;
}

.game{
    background:#f9f9ff;
}

button,
input[type="button"]{
    width:100%;
    padding:12px;
    margin-top:15px;
    border:none;
    border-radius:25px;
    background:#667eea;
    color:#fff;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.3s;
}

button:hover,
input[type="button"]:hover{
    background:#5a67d8;
}

@media(max-width:480px){
    form{
        padding:25px;
    }
}
